---
title: about
---

<div class="content">
    <h2>uncloud.do is a collection of small, open source and privacy focused software services.</h2>

    <br />

    <p>we want to be an alternative to big tech.</p>

    <p>we believe that big tech enterprises creates more harm than good, since they monopolize markets and cannibalize local business, collect all sorts of data from you and sell to third parties, running massive scale infrastructure in detriment of our natural resources.</p>
        
    <p>we believe there should be alternatives, focusing on user privacy, open source and local services.</p>

    <br />

    <h3>we don't collect nor track anything about you.</h3>
    <h3>we only use technology that everyone is able to use.</h3>
    <h3>we don't want to scale globally nor grow exponentially.</h3>

    <br />

    <p>this website does not track you.</p>
</div>

<style>
    #nav-about {
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
    }
</style>