---
title: Infrastructure
---

<div class="content">
    <h2>where</h2>
    <p>everything runs on a dedicated machine at Hetzner, in Finland, using 100% renewable energy.</p>

    <h2>code</h2>
    <p>all the services running in the server are transparent and public, check the open source code at <a href="https://codeberg.org/uncloud/infra" target="_blank">codeberg</a>.</p>

    <h2>backup</h2>
    <p>we maintain 7 days worth of backup for everything, unless otherwise specified.</p>
</div>

<style>
    #nav-infrastructure {
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
    }
</style>