<head>
    <title>uncloud.do</title>

    <meta charset="UTF-8">

    <link rel="icon" type="image/svg" href="{{ "/icon.svg" }}">

    <link rel="stylesheet" href="{{ "/normalize.css" }}">
    <link rel="stylesheet" href="{{ "/fonts/fonts.css" }}">
    <link rel="stylesheet" href="{{ "/fontawesome/solid.min.css" }}">
    <link rel="stylesheet" href="{{ "/fontawesome/fontawesome.min.css" }}">
    <link rel="stylesheet" href="{{ "/styles.css" }}">
</head>