<nav>
    <ul>
        <li><a href="/" id="nav-services">services</a></li>
        <li><a href="/infrastructure" id="nav-infrastructure">infrastructure</a></li>
        <li><a href="/about" id="nav-about">about</a></li>
    </ul>
</nav>